#scroller {
  position: relative;
  height: 200px;
  width: 100%;
}
#carousel {
  position: relative;
  height: 100%;
  background: rgba(224,224,224,0.1);
  padding: 0 20px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.genres {
  display: inline-block;
  position: relative;
  height: 160px;
  width: 250px;
  margin: 20px 10px;
}
#left-scroll, #right-scroll {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  background: #fff;
  opacity: 0.35;
}
#left-scroll.active, #right-scroll.active {
  display: block;
}
#left-scroll {
  left: 0;
  z-index: 200;
}
#right-scroll {
  right: 0;
  z-index: 9999999;
}
i {
  color: black;
  margin: 64px 22px 56px;
  z-index: 201;
  height: 78px;
}
#dnb { background: url(../images/discover/dnb.jpg); }
#dubstep { background: url(../images/discover/dubstep.jpg); }
#electronic { background: url(../images/discover/electronic.jpg); }
#house { background: url(../images/discover/house.jpg); }
#techno { background: url(../images/discover/techno.jpg); }
#trap { background: url(../images/discover/trap.jpg); }

#glass {
  position: relative;
  width: 600px;
  min-height: 300px;
  margin: 36px auto 72px;
  background: rgba(209, 219, 221,0.4);
  box-shadow: inset 0 0 1em rgba(209, 219, 221,0.8);
}
#choose-genre {
  line-height: 300px;
  text-align: center;
  font-size: 42px;
  color: white;
  font-family: 'Black Ops One', cursive;
  margin: 0;
}
#upper-left,#upper-right,#lower-left,#lower-right {
  position: absolute;
  border-radius: 50%;
  background: rgb(87, 87, 97);
  box-shadow: inset 0 0 1em rgba(209, 219, 221,0.8);
  width: 50px;
  height: 50px;
}
#upper-left {
  width: 50px;
  height: 50px;
  top: 50px;
  left: 50px;
  margin: -25px 0 0 -25px;
}
#upper-right {
  width: 50px;
  height: 50px;
  top: 50px;
  right: 50px;
  margin: -25px -25px 0 0;
}
#lower-left {
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 50px;
  margin: 0 0 -25px -25px;
}
#lower-right {
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  margin: 0 -25px -25px 0;
}
.sub-genres {
  width: 400px;
  margin: 0 auto;
  padding: 75px 0;
}
.sub-genres div {
  text-align: center;
  height: 50px;
  font-size: 28px;
  line-height: 50px;
  font-family: 'Black Ops One', cursive;
  color: white;
}
.genre1:hover { background: rgb(238, 91, 91); }
.genre2:hover { background: rgb(173,216,230); }
.genre3:hover { background: rgb(169, 216, 41); }
.genre4:hover { background: rgb(255, 160, 122); }
.genre5:hover { background: rgb(221, 160, 220); }
.genre6:hover { background: rgb(183, 195, 209); }
.genre7:hover { background: rgb(235, 136, 160); }
.genre8:hover { background: rgb(135, 198, 241); }

#dnb-genre, #dubstep-genre, #electronic-genre, #house-genre, #techno-genre, #trap-genre {
  display: none;
}
#dnb-genre.active, #dubstep-genre.active, #electronic-genre.active, #house-genre.active, #player.active, #techno-genre.active, #trap-genre.active {
  display: block;
}
#player {
  display: none;
  width: 70%;
  height: 400px;
  margin: 0 auto 72px;
}
iframe {
  height: 100%;
}
#controls {
  display: none;
  position: relative;
  height: 60px;
  margin: 36px auto 12px;
  width: 600px;
}
#back, #past-tracks, #next {
  position: absolute;
  background: rgba(209, 219, 221, 0.8);
  border: 4px solid white;
  color: white;
}
#back, #past-tracks {
  height: 42px;
  width: 150px;
  font-size: 18px;
  top: 0;
  bottom: 0;
}
#back:hover, #past-tracks:hover {
  background: rgb(173,216,230);
}
#back {
  margin: auto 0 auto -79px;
  left: 29%;
  border-radius: 10px 0 0 10px;
}
#past-tracks {
  margin: auto -79px auto 0;
  right: 29%;
  border-radius: 0 10px 10px 0;
}
#next {
  height: 100%;
  width: 100px;
  font-size: 26px;
  padding: 0;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 0;
}
#next:hover {
  background: rgb(238, 91, 91);
}
#past-tracks-carousel {
  display: none;
  position: relative;
  width: 70%;
  height: 110px;
  background: rgba(224,224,224,0.1);
  padding: 0 15px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto 12px;
}
.past-track {
  display: inline-block;
  height: 80px;
  margin: 15px 5px;
  width: 120px;
  background: rgba(209, 219, 221, 0.8);
  background-size: cover;
}
.past-track p {
  padding: 0 5px;
  background: rgba(220,220,220,0.4);
  font-size: 18px;
  line-height: 30px;
  margin: 25px 0;
  color: white;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (max-width: 960px) {
  #scroller {
    height: 160px;
  }
  #carousel {
    padding: 0 16px;
  }
  .genres {
    height: 130px;
    width: 203px;
    margin: 15px 6px;
  }
  #left-scroll, #right-scroll {
    width: 80px;
  }
  i {
    margin: 42px 12px 38px;
  }
  #dnb, #dubstep, #electronic, #house, #techno, #trap { background-size: cover; }
  #glass {
    width: 500px;
    min-height: 260px;
    margin: 30px auto 50px;
  }
  #choose-genre {
    line-height: 260px;
    font-size: 36px;
  }
  #upper-left,#upper-right,#lower-left,#lower-right {
    width: 36px;
    height: 36px;
  }
  #upper-left {
    top: 36px;
    left: 36px;
    margin: -18px 0 0 -18px;
  }
  #upper-right {
    top: 36px;
    right: 36px;
    margin: -18px -18px 0 0;
  }
  #lower-left {
    bottom: 36px;
    left: 36px;
    margin: 0 0 -18px -18px;
  }
  #lower-right {
    bottom: 36px;
    right: 36px;
    margin: 0 -18px -18px 0;
  }
  .sub-genres {
    width: 350px;
    padding: 65px 0;
  }
  .sub-genres div {
    height: 44px;
    font-size: 24px;
    line-height: 44px;
  }
  #player {
    height: 340px;
    margin: 0 auto 50px;
  }
}

