form {
  width: 100%;
  height: auto;
  margin: 0 auto 36px;
}
#banner {
  height: 87px;
  padding: 24px;
  width: 100%;
  font-family: 'Playball', cursive;
  color: white;
  font-size: 70px;
  background: linear-gradient(to left, rgba(238, 91, 91, 0.1),rgba(255, 255, 255, .5));
  text-align: center;
  color: rgb(173,216,230);
  margin: 0 0 36px 0;
}
#search-artist-input, #search-artist-button {
  display: block;
}
#search-artist-input {
  width: 60%;
  height: 40px;
  font-size: 28px;
  padding: 0 10px;
  margin: 0 auto;
}
#search-artist-button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  margin: 16px auto;
  background: rgba(209, 219, 221, 0.2);
  border: 3px solid white;
  color: white;
}
#search-artist-button:hover {
  background: rgb(238, 91, 91);
  border: rgb(238, 91, 91);
}

#songkick-logo {
  height: 50px;
  width: 180px;
  margin: 0 auto;
  border: 3px solid rgb(173,216,230);
}

#upcoming-events {
  width: 700px;
  min-height: 300px;
  height: auto;
  background: rgba(209, 219, 221,0.4);
  box-shadow: inset 0 0 1em rgba(209, 219, 221,0.8);
  margin: 18px auto 108px;
}
#error, #search-artist {
  line-height: 300px;
  text-align: center;
  font-size: 42px;
  color: white;
  font-family: 'Black Ops One', cursive;
  margin: 0;
}
.upcoming-event {
  position: relative;
  height: auto;
  width: 660px;
  padding: 10px 20px;
  margin: 0;
}
.event-name {
  color: white;
  height: auto;
  width: 575px;
  font-size: 20px;
  margin: 0;
}
.event-type {
  position: absolute;
  color: rgb(173,216,230);
  height: 18px;
  width: auto;
  top: 0px;
  right: 20px;
}
.location, .date, .time {
  display: block;
  color: rgb(183, 195, 209);
  margin: 5px 0 5px 35px;
  width: 300px;
  height: 20px;
}
hr {
  border: 2px solid white;
  width: 660px;
  margin: 0 auto;
}
hr:first-child {
  display: none;
}