html, body {
  height, width: 100%;
  max-width: 1280px;
  background: url(../images/binding_dark.png) repeat;
}
* {
  font-family: 'Righteous', cursive;
}
a, button {
  outline: none;
  text-decoration: none;
}
nav {
  background: rgb(29,29,29);
  height: 60px;
  width: 100%;
  -webkit-transition: background-color 0.5s ease-in 0.2s;
  -moz-transition: background-color 0.5s ease-in 0.2s;
  -o-transition: background-color 0.5s ease-in 0.2s;
  -ms-transition: background-color 0.5s ease-in 0.2s;
  transition: background-color 0.5s ease-in 0.2s;
}
nav:hover {
  background: white;
  -webkit-transition: background-color 0.5s ease-in 0.2s;
  -moz-transition: background-color 0.5s ease-in 0.2s;
  -o-transition: background-color 0.5s ease-in 0.2s;
  -ms-transition: background-color 0.5s ease-in 0.2s;
  transition: background-color 0.5s ease-in 0.2s;
}
nav:hover .nav-content {
  color: black;
  -webkit-transition-property: color, text;
  -webkit-transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: linear, ease-in;
  transition-delay: 0.2s;
}
.nav-content {
  display: inline-block;
  height: 60px;
  color: white;
  line-height: 60px;
  padding: 0 12px;
  font-size: 18px;
  -webkit-transition-property: color, text;
  -webkit-transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: linear, ease-in;
  transition-delay: 0.2s;
}
.nav-content:hover {
  background-color: #ededed;
}