#jumbotron {
  position: relative;
  height: 500px;
  width: 100%;
}
#jumbotron a {
  z-index: 9999;
}
#headline {
  color: white;
  margin: -35px 0 0 -202px;
  top: 60px;
  left: 50%;
  position: absolute;
  font-size: 70px;
  z-index: 9999;
  height: 70px;
  width: 404px;
  line-height: 70px;
}
#button-discover, #button-feelit {
  height: 200px;
  width: 200px;
  outline: none;
  background: rgba(224,224,224,0.35);
  color: white;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  z-index: 9999;
}
#button-discover:hover, #button-feelit:hover {
  background: white;
  color: rgb(29,29,29);
}
#maxim {
  font-family: 'Playball', cursive;
  font-size: 70px;
  text-align: center;
  padding: 24px;
  margin: 0;
  color: #D1DBDD;
  background: linear-gradient(to right, rgba(255, 255, 255, .08),  rgba(255, 255, 255, .6));
}
#button-discover {
  position: absolute;
  left: 20%;
  top: 50%;
  margin: -100px 0 0 -100px;
}
#button-feelit {
  position: absolute;
  right: 20%;
  top: 50%;
  margin: -100px -100px 0 0;
}
#slick {
  height: 100%;
  width: 100%;
}
#slick div {
  color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
}
#image1 {
  background: url(../images/splash/xlg/image5.jpg) no-repeat center;
  background-size: cover;
}
#image2 {
  background: url(../images/splash/xlg/image2.jpg) no-repeat bottom;
  background-size: cover;
}
#image3 {
  background: url(../images/splash/xlg/image3.jpg) no-repeat bottom;
  background-size: cover;
}
#image4 {
  background: url(../images/splash/xlg/image4.jpg) no-repeat center;
  background-size: cover;
}
#image5 {
  background: url(../images/splash/xlg/image1.jpg) no-repeat bottom;
  background-size: cover;
}
#image6 {
  background: url(../images/splash/xlg/image6.jpg) no-repeat bottom;
  background-size: cover;
}
#image7 {
  background: url(../images/splash/xlg/image7.jpg) no-repeat bottom;
  background-size: cover;
}
#image8 {
  background: url(../images/splash/xlg/image8.jpg) no-repeat bottom;
  background-size: cover;
}
#image9 {
  background: url(../images/splash/xlg/image9.jpg) no-repeat bottom;
  background-size: cover;
}
#mission {
  width: 500px;
  height: auto;
  margin: 36px auto 72px;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
}
#span {
  color: rgb(238, 91, 91);
}
.span {
  color: rgb(135, 198, 241);
}

@media (max-width: 960px) {
  #headline {
    font-size: 50px;
    margin: -25px 0 0 -144px;
    top: 50px;
    height: 50px;
    line-height: 50px;
    width: 288px;
  }
  #jumbotron {
    height: 400px;
  }
  #button-discover, #button-feelit {
    height: 150px;
    width: 150px;
    font-size: 24px;
  }
  #button-discover {
    margin: -75px 0 0 -75px;
  }
  #button-feelit {
    margin: -75px -75px 0 0;
  }
  #image1 { background: url(../images/splash/lg/image5.jpg) no-repeat center; }
  #image2 { background: url(../images/splash/lg/image2.jpg) no-repeat bottom; }
  #image3 { background: url(../images/splash/lg/image3.jpg) no-repeat bottom; }
  #image4 { background: url(../images/splash/lg/image4.jpg) no-repeat center; }
  #image5 { background: url(../images/splash/lg/image1.jpg) no-repeat bottom; }
  #image6 { background: url(../images/splash/lg/image6.jpg) no-repeat bottom; }
  #image7 { background: url(../images/splash/lg/image7.jpg) no-repeat bottom; }
  #image8 { background: url(../images/splash/lg/image8.jpg) no-repeat bottom; }
  #image9 { background: url(../images/splash/lg/image9.jpg) no-repeat bottom; }
  #maxim {
    font-size: 60px;
    padding: 20px;
  }
  #mission {
    width: 500px;
    margin: 30px auto 50px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 700px) {
  #headline {
    font-size: 40px;
    margin: -20px 0 0 -115.5px;
    top: 40px;
    height: 40px;
    line-height: 40px;
    width: 231px;
  }
  #jumbotron {
    height: 300px;
  }
  #button-discover, #button-feelit {
    height: 220px;
    width: 110px;
    font-size: 22px;
    margin: -110px 0 0 0;
    top: 50%;
  }
  #button-discover {
    left: 0;
    border-radius: 0 110px 110px 0;
  }
  #button-feelit {
    right: 0;
    border-radius: 110px 0 0 110px;
  }
  #image1 { background: url(../images/splash/md/image5.jpg) no-repeat center; }
  #image2 { background: url(../images/splash/md/image2.jpg) no-repeat bottom; }
  #image3 { background: url(../images/splash/md/image3.jpg) no-repeat bottom; }
  #image4 { background: url(../images/splash/md/image4.jpg) no-repeat center; }
  #image5 { background: url(../images/splash/md/image1.jpg) no-repeat bottom; }
  #image6 { background: url(../images/splash/md/image6.jpg) no-repeat bottom; }
  #image7 { background: url(../images/splash/md/image7.jpg) no-repeat bottom; }
  #image8 { background: url(../images/splash/md/image8.jpg) no-repeat bottom; }
  #image9 { background: url(../images/splash/md/image9.jpg) no-repeat bottom; }
  #maxim {
    font-size: 46px;
    padding: 16px;
  }
  #mission {
    width: 400px;
    margin: 25px auto;
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  #headline {
    font-size: 30px;
    margin: -15px 0 0 -86.5px;
    top: 30px;
    height: 30px;
    line-height: 30px;
    width: 173px;
  }
  #jumbotron {
    height: 250px;
  }
  #button-discover, #button-feelit {
    height: 180px;
    width: 90px;
    font-size: 18px;
    margin: -90px 0 0 0;
    top: 50%;
  }
  #button-discover {
    border-radius: 0 90px 90px 0;
  }
  #button-feelit {
    border-radius: 90px 0 0 90px;
  }
  #image1 { background: url(../images/splash/sm/image5.jpg) no-repeat center; }
  #image2 { background: url(../images/splash/sm/image2.jpg) no-repeat bottom; }
  #image3 { background: url(../images/splash/sm/image3.jpg) no-repeat bottom; }
  #image4 { background: url(../images/splash/sm/image4.jpg) no-repeat center; }
  #image5 { background: url(../images/splash/sm/image1.jpg) no-repeat bottom; }
  #image6 { background: url(../images/splash/sm/image6.jpg) no-repeat bottom; }
  #image7 { background: url(../images/splash/sm/image7.jpg) no-repeat bottom; }
  #image8 { background: url(../images/splash/sm/image8.jpg) no-repeat bottom; }
  #image9 { background: url(../images/splash/sm/image9.jpg) no-repeat bottom; }
  #maxim {
    font-size: 30px;
    padding: 10px;
  }
  #mission {
    width: 80%;
    margin: 20px auto;
    font-size: 18px;
    line-height: 26px;
    height: auto;
  }
}